.backDrop{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba($color: #4F6F52, $alpha: 0.4);
    & form{
        background-color: white;
        border-radius: 24px;
        margin: auto;
        margin-top: 15vh;
        width: 50vw;
        height: 70vh;
        padding: 20px;
    }
    & label{
        display: block;
        color:  #ACE1AF;
        margin: 10px;
    }
    & input{
        color:  #ACE1AF;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #4F6F52;
    }
}
body .backDrop{
    overflow: hidden;
}